.benefit__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.benefit__text {
  margin-bottom: 14px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 185%;
  opacity: 0.8;
}
