.header {
  position: relative;
  padding: 10px 0;
  background-color: var(--footer-bg);
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
  @include retina-bg(url("./../img/header/header-bg@2x.jpg"));

  &__nav {
    margin-bottom: clamp(24px, 0.07rem + 5.9vw, 86px);
  }

  &__content {
    text-align: center;
  }

  &__content p {
    font-size: clamp(16px, 0.85rem + 0.71vw, 24px);
    text-wrap: balance;
    line-height: 160%;
    max-width: 606px;
    margin: 0 auto;
    opacity: 0.8;
  }

  &__title {
    margin-bottom: 14px;
    text-wrap: balance;
    font-size: clamp(28px, 0.82rem + 4.6vw, 80px);
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
  }

  &__search {
    display: inline-block;
    margin: 45px auto 0 auto;
    @include mobile-xl() {
      display: none;
    }
  }

  a {
    color: var(--header-text-color);
  }
}

// DOTS
.header {
  &__dot {
    position: absolute;

    @include mobile-xl() {
      display: none;
    }

    &--sofa {
      left: calc(296 * 100% / 1440);
      top: calc(685 * 100% / 1084);
      transform: translate(0%, 0%);
    }

    &--vase {
      left: calc(114 * 100% / 1440);
      top: calc(754 * 100% / 1084);
      transform: translate(-50%, -50%);
    }

    &--item {
      left: calc(810 * 100% / 1440);
      top: calc(787 * 100% / 1084);
      transform: translate(-50%, -50%);
    }

    &--wall {
      right: calc(47 * 100% / (1440 - 30));
      top: calc(821 * 100% / (1084 - 9));
      transform: translate(-50%, -50%);
    }
  }
}
