.header {
  position: relative;
  padding: 10px;
  background-color: var(--footer-bg);
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
  @include retina-bg(url("./../img/header/header-bg@2x.jpg"));


  &__nav {
    margin-bottom: 86px;
  }

  &__content {
    text-align: center;
  }

  &__content p {
    font-size: 24px;
    line-height: 160%;
    max-width: 606px;
    margin: 0 auto;
    opacity: 0.8;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 80px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
  }

  &__search {
    margin: 45px auto 0 auto;
  }

  a {
    color: var(--header-text-color);
  }
}

// DOTS
.header {
  &__dot-sofa {
    position: absolute;
    left: calc(296 * 100% / 1440);
    top: calc(685 * 100% / 1084);
    transform: translate(0%, 0%);
  }

  &__dot-vase {
    position: absolute;
    left: calc(114 * 100% / 1440);
    top: calc(754 * 100% / 1084);
    transform: translate(-50%, -50%);

  }

  &__dot-item {
    position: absolute;
    left: calc(810 * 100% / 1440);
    top: calc(787 * 100% / 1084);
    transform: translate(-50%, -50%);

  }

  &__dot-wall {
    position: absolute;
    right: calc(47 * 100% / (1440 - 30));
    top: calc(821 * 100% / (1084 - 9));
    transform: translate(-50%, -50%);

  }
}
