.mobile-nav-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  padding: 30px 30px;
  color: var(--footer-text-color);
  background-color: var(--footer-bg);
  display: none;

  &--open{
    display: block;
  }
  
}
.mobile-nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    margin-bottom: 20px;
}

.mobile-cart{
    display: flex;
    gap: 20px;
    flex-grow: 1;
    padding-right: 20px;
    align-items: center;
    border-right: 1px solid rgba(255,255,255,.2);
    font-size: 22px;
    font-weight: 500;
}
.mobile-nav-btn-close{

}

// nav
.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 22px;
}
.mobile-nav__item {
}
.mobile-nav__link {
}
.mobile-nav__link--dropdown {
}

// Sub nav
.mobile-sub-nav {
  display: grid;
  gap: 14px;
  padding: 20px 0 0 20px;
}
.mobile-sub-nav__item {
}
.mobile-sub-nav__link {
}
